@use "./base.scss";

// put your custom CSS here!

// Katex
.katex-display {
    display: block !important;
    margin: 1em 0 !important;
    text-align: center !important;

    > .katex {
        display: inline-block !important;
        text-align: initial !important;
    }
}

// Center image
img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.markdown-source-view.mod-cm6 .cm-content > * {
    margin: auto auto !important;
}
